body {
    font-family: Arial, Helvetica, sans-serif;   
}
.wrapper {
    margin: 0 auto;
}
.wrapper > .task_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-style: italic;
    font-size: 14px;
}
.wrapper > .in_value {
    display: flex;
    justify-items: center;
}
.in_value > #in_count {
    font-size: larger;
    font-style: italic;

}
.in_value > #click {
    display: block;
    padding: 15px 25px;
    font-size: larger;
    font-style: italic;
}
h1, h2, h3 {
    justify-items: center;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 16px;
}
.settings{
    visibility: hidden;
}
.table_good {
    font-size: x-large;
}

.cells{
    width: 20px;
    
}